.calc {
    width: 563px;
    background-color: gray;
    box-shadow: 0px 2px 30px 0px #0000001A;
    height: 80vh;
    margin-top: 8%;
    border-radius: 40px;

    .screen{
        width: 100%;
        background-color: darkgreen;
        border: 12px solid black;
        height: 15vh;
        font-size: 4rem;
        padding: 2% 4%;
        display: flex;
        justify-content: flex-end;
    }

    .screenFixed  {
        width: 100%;
        background-color: darkgreen;
        border: 12px solid black;
        height: 15vh;
        font-size: 2.9rem;
        padding: 2% 4%;
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
    }

    .screenFixed1 {
        width: 100%;
        background-color: darkgreen;
        border: 12px solid black;
        height: 15vh;
        font-size: 2.4rem;
        padding: 2% 4%;
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
    }

    .screenFixed1 {
        width: 100%;
        background-color: darkgreen;
        border: 12px solid black;
        height: 15vh;
        font-size: 1.4rem;
        padding: 2% 4%;
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
    }


   
   .buttonBox{
    margin-top: 4%;
    width:100%;
    background-color: black;
    height: 62vh;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 2% 4%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
   }



    .btn {
        width: 23%;
        background-color: rgb(148, 146, 146);
        font-size: 2rem;
        color: white;
        text-align: center;
        height: 10vh;
        border-radius: 10px;
        border: none;
    
        &:hover {
           
            background-color: rgb(109, 103, 103);
            cursor: pointer;
            color: black;
        }
    
        p{
            padding: 12% 4%;
    
        }
    
        &.fixed {
            width: 48%;
            background-color: orange;
           
        }
    
        &.black{
           background-color: rgb(57, 55, 55);
           color: white;

           &:hover {
           
            background-color:rgb(182, 177, 177);
            cursor: pointer;
            color: black;
           }
        }
    }
}